/* body attributes */
body {
    background-color: #D6DAF0;
}


/* link(<a> text </a>) stuff */
/* link color */
a {
  color: blue;
}

/* Underline link while hovering over */
a:hover {
  text-decoration: underline;
}

/* underline link while holding the left button down */
a:active {
  text-decoration: underline;
}
/* end of link stuff */


/* tablinks stuff */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* END of tablinks stuff */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  font-family: "Gill Sans", sans-serif;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.about-content-wrapper {
  padding: 30px;
}

.about-content-wrapper h1 {
  color: lightseagreen;
}

/* Projects page divs */
.projectuploader {
  position: absolute;
  left: 900px;
  bottom: 105px;
}

.projectlist {
  background-color: lightblue;
  height: 420px;
  width: 800px;
  overflow-y: scroll;
  position: absolute;
  bottom: -80px;
  border: 1px solid #000000;
}
/* End of project page divs */
.arrow {
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(135deg);
}

.vote {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans";
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}  

.arrow-up { 
  border: solid green;
}
.arrow-down { 
  border: solid red;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.increment.up {
  background: #4bc35f;
  height: 50%;
  margin-bottom: 0.5rem/2;
}

.increment.down {
  background: #c15044;
  height: 50%;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 1rem * 0.1;
  margin: 10rem * 0.25;
  background: #f6f3e4;
  width: 10rem * 0.5;
  font-size: 10rem * 0.25;
  font-weight: bold;
  line-height: 10rem * 0.5;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #f6f3e4;
  pointer-events: none;
}

.bump {
  animation: bump 200ms;
}


/* Users page stuff */
.membersonline {
  position: relative;
  left: 275px;
  bottom: 299px;
  height: 280px; 
  width: 240px;
  border: 2px solid black;
  padding: 10px;
}

.allmembers {
  position: relative;
  bottom: -5px;
  height: 280px; 
  width: 240px;
  border: 2px solid black;
  padding: 10px;
}

/* End of users page stuff */

/* Chatbox stuff */
.open-button {
  background-color: #554;
  color: white;
  padding: 15px 19px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  position: fixed;
  bottom: 24px;
  right: 29px;
  width: 281px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 16px;
  border: 3px solid #f1f2f3;
  z-index: 10;
}

.chat-box {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.chat-box textarea {
  width: 90%;
  padding: 16px;
  margin: 4px 0 23px 0;
  border: none;
  background: #f1f2f3;
  resize: none;
  min-height: 200px;
}
/* end of chatbox stuff */
